#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-image: url(./assets/iceLake.jpg);
    background-size: cover;
    font-family: 'roboto'
}