#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

body, html, #root {
  width: 100%;
  height: 100%;
}

body {
  padding: 100px;
  min-width: 800px;
  min-height: 800px;
  box-sizing: border-box;
  margin: 0;
  background-image: url(./assets/iceLake.jpg);
  background-size: cover;
  font-family: 'roboto'
}
  
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.1);
}
*::-webkit-scrollbar-thumb {
  background-color: #005cfb;
  border-radius: 3px;
}